/* fonts */
.headings {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
	}	

.header1-text, .header2-text, .footer-text {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 16px;
	}

/* indented elements */
.header2-text, .header3-text {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-left: 30px;
	}

.initial {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: bold;
	font-size: 40px;
	}
	
#pull-quote {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 18px;
	text-indent: 70px;
	padding: 20px;
	}
.left-quo, .right-quo {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 40px;
	}

/* inline header elements */
.logo-header, .header1 {
	display: inline-block;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
	}

.logo-header {
	position: absolute;
	margin-top: 15px;
	}

.header1 {
	position: relative;
	/*margin-top: 15px; margin-left: 10px;*/
	margin-left: 60px;
	}

/* inline footer elements */
#foot-pic, #foot-body, {
	display: inline-block;
	}

#foot-pic {
	position: absolute;
	margin-top: 25px; margin-left: 15px;
	}
#foot-body {
	position: relative;
	margin-left: 365px;
	padding: 15px;
	}

